/* ===================================================================
  * # about
  *
  * ------------------------------------------------------------------- */

.s-about {
  --color-border: var(--color-gray-16);
  background-color: var(--color-gray-17);
  padding-top: calc(6 * var(--space));
  padding-bottom: var(--vspace-4);
  color: rgba(255, 255, 255, 0.4);

  h3 {
    margin-top: 0;
    color: white;
  }
}

.s-about__pic {
  width: var(--vspace-5);
  height: var(--vspace-5);
  border: 1.6rem solid rgba(255, 255, 255, 0.02);
  border-radius: 50%;
}

/* ------------------------------------------------------------------- 
   * responsive:
   * about
   * ------------------------------------------------------------------- */
@media screen and (max-width: 1200px) {
  .s-about__pic {
    width: var(--vspace-4_5);
    height: var(--vspace-4_5);
    border-width: 1.4rem;
  }
}

@media screen and (max-width: 900px) {
  .s-about__pic {
    width: var(--vspace-4);
    height: var(--vspace-4);
    border-width: 1.2rem;
  }
}

@media screen and (max-width: 800px) {
  .s-about {
    padding-top: var(--vspace-5);
  }
}
