/* ===================================================================
  * # contact
  *
  * ------------------------------------------------------------------- */

.s-contact {
  background-color: var(--color-gray-18);
  padding-top: calc(6 * var(--space));
  padding-bottom: var(--vspace-3_5);

  .section-header-allcaps {
    color: white;
    margin-bottom: var(--vspace-2_5);
  }

  .huge-text {
    color: white;
    margin-top: 0;
    font-weight: 400;
    font-size: 4.6rem;
    line-height: 1.304;
  }
}

.s-contact__content [class*="column"]:last-child {
  margin-left: auto;
}

/* ------------------------------------------------------------------- 
   * responsive:
   * contact
   * ------------------------------------------------------------------- */
@media screen and (max-width: 1200px) {
  .s-contact {
    padding-bottom: var(--vspace-2);
  }

  .s-contact__content {
    .column {
      margin: 0;
    }

    > .column:first-child {
      margin-bottom: var(--vspace-2);
    }
  }
}

@media screen and (max-width: 800px) {
  .s-contact {
    padding-top: var(--vspace-5);
  }

  .s-contact__header {
    text-align: center;
  }

  .s-contact .huge-text {
    font-size: 4.2rem;
  }
}

@media screen and (max-width: 600px) {
  .s-contact .huge-text {
    font-size: 3.4rem;
  }
}

@media screen and (max-width: 400px) {
  .s-contact .huge-text {
    font-size: 3.2rem;
  }
}

@media screen and (max-width: 360px) {
  .s-contact .huge-text {
    font-size: 3rem;
  }
}
