/* ===================================================================
  * # portfolio
  *
  * ------------------------------------------------------------------- */

.s-portfolio {
  background-color: var(--color-gray-1);
  padding-top: calc(6 * var(--space));
  padding-bottom: var(--vspace-5);

  h3 {
    margin-top: 0;
  }
}

.s-portfolio__header {
  text-align: center;
}

/* ------------------------------------------------------------------- 
   * ## portfolio list
   * ------------------------------------------------------------------- */

.folio-list {
  max-width: 1180px;
  margin-top: var(--vspace-2_5);
}
